*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    height: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
    display: grid;

    
}

header, nav, article, footer{
    font-size: 2rem;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header{
    background-color: blue;

}

nav{
    background-color: aqua;
   
}

article{
    background-color: blueviolet;
    
}

footer{
    background-color: burlywood;
    
}